* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C5CBE3;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}
h1 {
    color: #222222;
    font-family: Nabla;
    font-size: 64px;
    font-family: "Nabla", system-ui;
        filter:grayscale(100%) brightness(0);
        text-shadow: none !important;
        
}



header {
    background-color: #F13C30;
    
}

h2 { /* Johanna menu otsikot */
    color: #222222;
    font-family: Nabla;
    font-size: 50px;
}
h3 { /* Yhtiön nimi iso valkone otsikko vasen yläkulma */
    color: white;
    font-size: 70px;
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: -2px;
}
h4 { /*Fresh Salad ja ASian wok otsikot etusivul */
    color:#222222;
    font-family: Nabla;
    font-size: 36px;
    font-family: "Nabla", system-ui;
        filter:grayscale(100%) brightness(0);
        text-shadow: none !important;
}
p {
    color: #3F3F3F;
    font-family: fira Sans;
    font-size: 18px;
}

a, a:active {
    color: #FFFFFF;
}
a, a:active, a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: underline;
}
.härdelli {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 104px;
    margin-top: 55px;
    line-height: 1.5;
}
.vasenyhteys {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.yhteystiedototsikko {
    margin-bottom: 40px;
}
.oikeaohje {
  display: flex;
  flex-direction: column;
}
.ajoohjeotsikko {
    margin-bottom: 40px;
}
.osotteet {
    margin-top: 40px;
}
.managerikuva {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ravintolakuva {
    margin-bottom: 80px;
}
.karttayhteys {
    width: 565px;
    height: 296px;
    margin-top: 80px;
}
.karttayhteys img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container {
    p {
    display: center;
    margin-left: 175px;
    margin-right: 175px;
    }
    h1{
        text-align: center;
    }
}
.tarjoamme {
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 50px;
    h1 {
        text-align: center;
        margin-top: 42px;
    }
    img {
        
        width: 330px;
        height: 220px;
        padding-left: 0px;
    }
    .ekakuva {
        width: 330px;
        height: 220px;
        margin-top: 48px;
        object-fit: cover;
    }
    .tokakuva {
        width: 330px;
        height: 220px;
        margin-top: 48px;
        margin-left: 60px;
        object-fit: cover;
    }
    .map {
        object-fit: cover;
        width: 530px;
        height: 280px;
    }
}
.tarjonta-row {

    display: flex;
    gap: 700px;
    margin-left: 230px;
    width: 100%;
    margin-bottom: 50px;
    
}
    
.Loyda {
    display: flex;
    align-items: stretch;
    margin-left: 375px;
    margin-top: 48px;
    
}
.vasen {
    display: flex;
    flex-direction: column;
    ul{
        display:flex;
        list-style-type: none;
        margin-top:10px;
    }
}
.oikea {
    display: flex;
    margin-left: 342px;
    margin-bottom: 60px;
}
.oikea img {
    width: 461px;
    height: 241px;
    object-fit: cover;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F13C30;
    height: 139px;
    width: 100%;
    margin-top: auto;
    p{
        color:#FFFFFF;
        font-size: 26px;
    }
}
.footer-left{
    display:flex;
    img{
        margin:0px 19px 0px 0px;
    }
    p{
        margin-top:55px;  
    }
}
.footer-middle{
    
    nav li{
        display: flex;
        justify-content: center;
        color:#FFFFFF;
        font-size: 26px;
    }
}

nav{
    ul{
       list-style-type: none; 
       padding-inline-start: 0px; 
    }
}

.tiedot{
    margin-top: 45px;
}
.footer-right{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 .right-side{
        ul{
            display: flex;
            font-size: 26px;
            margin-left: 20%;
            margin-top: 25px;
        }
        list-style-type: none;
 }
 .left-side{
    display: flex;
    justify-content: center;
    margin-top: 45px;
 }
.header {
    background-color: #F13C20; 
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: Arial, sans-serif;
}
.seolbites-logo {
    max-width: 1%;
    height: 117px;
    display: block;
}

.header-logo {
    display: flex;
}
.header-bottom{
    margin-left: auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

.header-nav {
    display: flex;
    gap: 30px;
}

.header-nav a {
    margin-right: 72px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.header-nav a:hover {
    text-decoration: underline;
}



.ruotsinlippu {

    width: 40px;
    height: auto;
    
}

h5 { /*Löydä meidät otsikko etusivulla */
    color:#222222;
    font-family: Nabla;
    font-size: 64px;
}
.otsikko{
    background-color: #D79922;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    display:flex;
    justify-content:center;
    h1{ 
        
        font-size: 64px;   
        font-weight: bold;
        letter-spacing: 5px;
        font-family: "Nabla", system-ui;
        filter:grayscale(100%) brightness(0);
        text-shadow: -3px 5px 0 #3F0BDD(100%) !important;

    } 
    
} 

 

.ruokalajit{
    background-color: #efe2ba;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-bottom: 1%;
    padding-top:1%;
    h2{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        font-family: "Nabla", system-ui;
        filter:grayscale(100%) brightness(0);
        text-shadow: none !important;
        
    }
    ul{
        list-style-type: none;
        text-align: center;
        li{
            font-size: 25px;
            font-family: fira sans;
            margin-bottom: 0.5%;
            b{
                font-size: 26px;
            }
        }
        
        
    }
}
.ruoat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3%;
    padding:0 0 0 0;
    

    
    .vasen-puoli{
        display: flex;
        justify-content: center;
        
        
    } 
    .keskus{
        margin-top: 2%;
    }
    .oikea-puoli{
        
        display: flex;
        justify-content: center;
    }  
}

.pääruokien-kuvat{
            .yläkuva{
                padding-bottom:30% ;
            }
        }
.kuviaruoka {
    display: flex;
    gap: 550px;
    margin-left: 162px
}
@media (max-width: 900px) {
  .härdelli {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1231px){
    .footer-right{
        display: grid;
        grid-template-columns: 1fr;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height: auto;
    }
    .pääruokien-kuvat{
        .yläkuva{
            padding-bottom:100% ;
         }
    }
    .footer-left{
        display:list-item;
        img{
            margin:0px auto 0px 0px;
        }
        p{
            margin-top:13px;  
        }
    }
}

@media(max-width:1099){
    .footer-left {
        display:list-item;
        justify-content: start;
        width: 100%;
        height: auto;
    }
    .ruokalajit{
        img{
            display:none;
        }
    }
}
@media (max-width: 768px) {

    
    .container p, .tarjoamme, .Loyda {
        margin-left: 20px ;
        margin-right: 20px ;
        padding: 0 10px ;
    }

    
    .header, .tarjonta-row, .tarjonta-kuvat, .Loyda, .footer-right {
        flex-direction: column ;
        height: auto ;
        text-align: center;
        align-items: center;
    }

    
    .ruokakuva, .map-kuva, .oikea img, .oikea {
        width: 100% ;
        height: auto ;
        margin-top: 20px;
    }

    
    h1 { font-size: 38px; }
    h3 { font-size: 35px; margin-left: 0; }
    h5 { font-size: 38px; }

    
    .header-bottom {
        align-items: center;
        margin-top: 15px;
    }
    .header-nav {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-nav a {
        margin-right: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }
}
@media(max-width:880px){
       
   .ruokalajit{
       img{
        width:90px;
        display: none !important;
    } 
    }
}
@media(max-width:550px){
    .ruokalajit{
        
            font-size: 16px;
            b{
                font-size: 17px;
            }
        
    }
}
